<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    <%=blog.title%>
  </div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="<%=blog.image%>" alt="<%=blog.title%>">
      <div class="content">
        <span><%=blog.created.toDateString()%></span>
      </div>
      <div class="description">
        <p><%-blog.body%></p>
      </div>
      <div class="description">
        <p><em>Uploaded By: <strong><%=blog.author.name%> @<%=blog.author.username%></strong></em></p>
      </div>
    </div>
  </div>
<button type="button" class="ui blue button" id="comment"><i class="comment alternate icon"></i>Comment</button>
<!-- <a href="#" class="ui blue button"><i class="share icon"></i>Share</a> -->
<i class="ellipsis horizontal icon" id="postOption"></i>
<div class="postOptions">
  <button class="ui basic blue button" style="color: rgb(0, 0, 0);"><i class="flag icon"></i>Report</button>
  <%if(currentUser && blog.author.id.equals(currentUser._id)){%>
  <a class="ui orange basic button " href="/blogs/<%=blog._id%>/edit">Edit</a>
  <form class="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
  <button class="ui red basic button">Delete</button>
</form>
<%}%>
</div>
<div class="item comments">
  <form class="ui form" action="/blogs/<%=blog._id%>/comments" method="post">
    <div class="ui fluid action input">
      <input type="text" placeholder="Say it...." name="comment[text]">
      <button class="ui blue button" type="submit"><i class="telegram plane icon"></i>Comment</button>
    </div>
  </form>
</div>
<div class="ui celled list">
  <% blog.comments.forEach(function(comment){%>
    <div class="item">
      <div class="content">

        <div class="header"><i class="user icon"></i><%=comment.author.username%><a href="" class=""></a></div>
        <div class="comment">
          <div class="commentText"><%=comment.text%></div>
          <div class="commentOptions">
            <button class="btn"><i class="flag icon"></i><span>Report</span></button>
            <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
            <button class="btn"><a href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit" style="color: rgb(0, 0, 0);"><i class="edit outline icon"></i><span>Edit</span></a></button>
            <form class="delete" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
              <button class="btn" style="color: rgb(0, 0, 0);"><i class="trash icon"></i><span>Delete</span></button>
            </form>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  <%})%>
  </div>
</div>
  <% include ./partials/footer %>
