<% include ./partials/header %>
<div class="ui main text container segment">
  <div class="ui huge header">
    <%=blog.title%>
  </div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" src="<%=blog.image%>" alt="<%=blog.title%>">
      <div class="content">
        <span><%=blog.created.toDateString()%></span>
      </div>
      <div class="description">
        <p><%=blog.body%></p>
      </div>
    </div>
  </div>
  <a class="ui orange basic button " href="/blogs/<%=blog._id%>/edit">Edit</a>
  <form class="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
  <button class="ui red basic button">Delete</button>
</form>
<button type="button" class="ui blue button" id="comment"><i class="comment alternate icon"></i>Comment</button>
<div class="item comments">
  <form class="ui form" action="/blogs/<%=blog._id%>/comments" method="post">
    <div class="ui fluid action input">
      <input type="text" placeholder="Your Name" name="comment[author]">
      <input type="text" placeholder="Say it...." name="comment[text]">
      <button class="ui blue button" type="submit"><i class="telegram plane icon"></i>Comment</button>
    </div>
  </form>
</div>
<div class="ui celled list">
  <% blog.comments.forEach(function(comment){%>
    <div class="item">
      <div class="content">
         <img class="ui avatar image" src="/img/icons8-male-user-filled-50.jpg">
        <div class="header"><%=comment.author%></div>
        <%=comment.text%>
      </div>
    </div>
  <%})%>
  </div>
</div>
  <% include ./partials/footer %>
